body {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
}

.sp {
  color: darkorange;
}

section {
  display: flex;
  margin-bottom: 150px;
}

.half-width {
  width: 50%;
  padding-left: 5%;
}

.half-width img {
  width: 80%;
}

.link-btn {
  text-decoration: none;
  background-image: linear-gradient(tomato, orange);
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 700;
}

.top-banner {
  background-image: url(developer-portfolio-master/images/top-banner.png);
  background-repeat: no-repeat;
}

.resume-btn{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
}

.dream-big{
    background-image: url(developer-portfolio-master/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}